html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  height: 100px;
  width: 100%;
  background: hsl(240, 75%, 68%);
}
nav h1 {
  margin: 0;
}
